
<div id="page">
    <header><h1>PROYECTO DANTA</h1></header>

    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Consulta</a></li>
            <li><a href="#">Inscripcion</a></li>
        </ul>
    </nav>

    <section>
        <article>
            <header><h2>Reto: Actividades Lúdicas para jovenes</h2></header>
            <p>¿Cómo podemos crear actividades permanentes para los jóvenes de la localidad que los alejen de la delincuencia?</p>
        </article>              

        <article>
            <header><h2>Localidad Rafael Uribe Uribe</h2></header>
            <p>La situación de la localidad parte de que en ocasiones los padres no siempre pueden estar presentes con sus hijos para cuidarlos y educarlos correctamente, por ende los niños al salir del colegio buscan encontrar cosas interesantes que hacer en la calle cómo jugar fútbol o videojuegos, pero la realidad es que terminan viéndose inmiscuidos en pandillas y actividades ilegales.</p>
        </article>              

        <article>
            <header><h2>Problemática</h2></header>
            <p>La problemática de la comunidad se origina en que cada vez más jóvenes y menores de edad son detenidos realizando actividades ilegales dañando profundamente a la comunidad. Los niños cuando están solos no encuentran actividades su cientemente atrayentes que los motiven a seguir un camino correcto.</p>
        </article>    

        <article>
            <header><h2>Expectativa</h2></header>
            <p>La expectativa de los habitantes se basa en crear un plan compuesto por actividades que ocupen el tiempo de los jóvenes en cosas provechosas que los eduquen como seres íntegros y capaces de aportar cosas positivas a la sociedad.</p>
        </article>    

    </section>

    <%= image_tag('imagen1.jpg' , size:"800x400") %>

</div>